/* All devices */
html , body{
    background-color: #0E1647;
    background-image: url("../img/bg.jpg");
    padding-top: 1%;
}
.cards-randomised {
    position: relative;
}
.cards-container {
    height: 100%;
    width: auto;
}
a.gallery-item {
    background-color: #555555;
    border: 3px solid #EEEEEE;
    box-shadow: 0 0 4px Black;
    color: Black;
    display: block;
    outline: none;
    padding: 3px;
    position: absolute;
    text-align: center;
    text-decoration: none;
}
.card-image-large-content {
    position: relative;
}
a.gallery-item span,
.card-image-large span {
    background-color: White;
    display: block;
    font-family: Comic Sans MS,Trebuchet MS,sans-serif;
    padding: 10px 2%;
}
.card-image-large span {
    bottom: 0;
    filter: alpha(opacity=80);
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 96%;
}

.card-image-holder {
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.card-image-holder td {
    text-align: center;
}
.card-image-large {
    background-color: #777777;
    border: 3px solid #EEEEEE;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 0 0 10px #111111;
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    position: relative;
    width: auto;
}
.card-image-close {
    background-color: #666666;
    border: 3px solid #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    color: White;
    cursor: pointer;
    display: block;
    font-size: 20px;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    position: absolute;
    right: -15px;
    text-align: center;
    text-shadow: 1px 0 1px Black;
    top: -15px;
    width: 25px;
}
.card-image-large-overlay {
    background-color: #222222;
    border-radius: 2px;
    display: none;
    filter: alpha(opacity=90);
    height: 100%;
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
}